@using Microsoft.AspNetCore.Identity
@using Infrastructure.Identity;

@inject SignInManager<ParkingUser> SignInManager
@inject UserManager<ParkingUser> UserManager

<ul class="navbar-nav  align-items-start ">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-primary p-2 mt-1 me-2" style=" color:#495785">Logout</button>
        </form>
    </li>
        <li class="nav-item ">
        <div class="container">
            <a class="" asp-area="Identity" asp-page="/Account/Manage/Index">
                    <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" fill="#6689b6" class="bi bi-person-circle mt-2  " viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                    </svg>
              
            </a>

        </div>

    </li>
    
}
else
{
    <li class="nav-item col-md-6 ms-4">
        <a class="nav-link btn btn-primary" style="color:#495785" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item col-md-6 ms-4">
        <a class="nav-link btn btn-primary border-0 p-2" style="color:#495785" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
    
}
</ul>
